:root {
  --clr-chick: #f4d35e;
  --clr-cream: #faf0ca;
  --fs-ultrabigger: 44px;
  --fs-bigger:30px;
}

.title {
  font-size: var(--fs-bigger);
  color: var(--clr-cream)
}

.title-fragment {
  color: var(--clr-chick);
  font-weight: var(--fw-bold);
  font-size: var(--fs-ultrabigger);
}